doctype html
html
  body
    h1 About
    article
      section#summary
        p 私達は、クリエイティブコーディングをきっかけにコンピューターでの創作活動を
        | 促進しようと動き始めました。
        p また、プログラミングという行為に有機的なアプローチを行うため、ライブコーディングでの
        | パフォーマンスを主軸として活動していきます。
      section#motivation
        h2 Motivation
        
        h3 We are Coder, We are Creater.
        p 私達はプログラマ・コーダーであると同時に、クリエイターでありたいと思います。
        p 私達はクリエイティブコーディング・ライブコーディングを通して、私達の想像性を発揮し、
        | コンピューター・プログラミングの楽しさや想像性の増幅装置としてのコンピューターの
        | 可能性を探求していきます。
        
        h3 Live feeling in programming.
        p 私達は、プログラミング・コーディングという行為に有機的なアプローチを行っていきます。
        p 私達は、今日のプログラミング・コーディングという行為には何かが欠けていると思っております。
        | それは即興性であったり、協調性かもしれないと思います。
        p 私達は、クリエイティブコーディング・ライブコーディングを通じて、多くの人が抱いている
        | プログラミング・コーディングへの無機質な感覚を払拭できればと思います。
        
        h3 Connection and Coraboration.
        p 私達は、他者との繋がりや協力を拒むことは極力無くして行きたいです。
        p ライブコーディングというパフォーマンスの利点を活かし、コーダーはもちろん、
        | オーディエンスも一緒に楽しめる場を作り、コーディング体験を共有していきます。
      section#welcome
        h2 Recruit new members
        p 私達の思いに賛同し活動に興じたい方は、ぜひ私達に連絡をください。
        p 私達は、以下の様な方々を求めています。
        dl
          dt コーダー
          dd 実際にコーディングによるライブパフォーマンスをする方です。
          dd プログラミング言語、フレームワークは問いません。
          | SuperColliderやSonic Pi、それらを利用したライブラリの利用はもちろん、
          | PureDataやMIT Scratchでのコーディングも歓迎します。
          dd また、Atom VEDAやProcessingなどによる映像パフォーマンスができる方も
          | 募集しています。こちらもPureDataやMIT Scratchによる参加も歓迎します。
          dt ボランティア
          dd イベントの運営（受付、機材セッティング、会場手続き、etc...）を行ってくださる方です
          dd プログラミングスキルやパソコンを持っていない方でも、私達の思いに賛同していただける方には
          | ぜひお手伝いをお願いしたいと考えております。
        p 興味を抱いてくださった方は、Contactsのお好きな方法でご連絡お願いします。
        p 皆様のご参加、お待ちしております。
