doctype html
html
  head
    title Creative Coding Club Sapporo
    meta(
      name="description"
      content="Creative Coding Club Sapporo Web page. クリエイティブコーディングクラブ札幌のWebページです。"
      )
    meta(
        name="keywords"
        content="Creative Coding Club,Creative Cording Event,Creative Cording,クリエイティブコーディング,クリエイティブ・コーディング,札幌"
        )
  body
    article
      section#motivation
        ul
          li We are Coder, We are Creater.
          li Live feeling in programming.
          li Connection and Coraboration.
      nav
        ul
          li
            a(href="html/about.html")About
          li
            a(href="#")Events
          li
            a(href="#")Member
          li
            a(href="#")Contacts
      section#summary
        p 札幌でクリエイティブコーディングの研究と称して遊ぶ同友会です。
        p 
          | 詳しくは
          a(href="html/about.html")
        　| を御覧ください。
      section#events
        section#next-session
            p Nothing... Please check it!
        section#end-session
            p Nothing... Please check it!
